<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.createexe.exe">
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <queries><intent><action android:name="android.intent.action.TTS_SERVICE" /></intent></queries>
    <application android:label="Project.EXE">
        <service android:name=".service.OverlayService" android:foregroundServiceType="specialUse" />
    </application>
</manifest>
